body {background-image: url(images/123456.png);
background-size: cover;}



body {
    
   font-family: Eczar;
    font-size: 100;
    width: 1200px;
    padding: 50px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align:justify;
}
    



a{
font-size: 25pt;
color: #686143; text-decoration: none;
    text-align: center;
}

a:hover {
color: #fff;
}

h1 {
    font-family 'Merienda';
font-size: 36pt;
color: wheat;
    text-align: center;
border-top: 2px dotted #686143; border-bottom: 2px dotted #686143; text-transform: uppercase;
}

p{
font-size: 24pt;
line-height: 22pt;
    color: wheat;
}

img {
border: medium solid #666;
box-shadow: 5px 5px 5px rgba(0,0,0,.3);
}

